* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Times New Roman;
}
body {
  min-height: 100vh;
  font-family: Segoe UI;
  background: black;
  color: white;
  line-height: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #31312f;
  padding: 10px 5px;
}
.logo {
  font-size: 30px;
  color: #bd9106;
  padding: 20px;
}
a {
  color: white;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  color: white;
  font-size: #24px;
  padding: 20px;
}
li:hover {
  background: #bd9106;
  color: white;
  border-radius: 10px 0 10px 0;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 150px;
  z-index: 999;
  background: white;
  color: blue;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menubtn {
  display: none;
}
.sidebar li {
  width: 100%;
  text-align: center;
}
.sidebar a {
  width: 100%;
  color: black;
}
.intro .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .container .my-pic {
  height: 500px;
  width: 500px;
  border-radius: 10px;
  margin: 10px;
  border: 2px solid #bd9106;
}
.introduce {
  text-align: center;
}
.intro p {
  color: white;
  font-size: 12px;
  float: right;
  padding: 12px;
}
h3 {
  font-size: 30px;
  font-weight: 600;
  font-family: Comic Sans MS;
  color: #bd9106;
  padding: 12px;
}
h4 {
  font-size: 20px;
  font-weight: 600;
  font-family: Comic Sans MS;
  padding: 12px;
}
.section-head {
  color: white;
  padding: 12px;
  font-size: 45px;
  font-weight: 600;
  font-family: Comic Sans MS;
  text-align: center;
  margin: 30px;
}
span {
  color: #bd9106;
}
hr {
  margin: 20px 0 0 0;
  background: #bd9106;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.about .container p {
}
.about ul {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.stat {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  border: 2px solid #484848;
  padding: 40px;
  margin: 10px;
  font-size: 20px;
  width: 100%;
}
.skills h2 {
  text-align: center;
  padding: 20p;
  margin: 20px;
  font-size: 40px;
  color: white;
}
.sect-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.skills .skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: #31312f;
  border-radius: 20px;
  padding: 30px;
  gap: 10px;
  margin: 30px;
}
.circular-progress {
  position: relative;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background: conic-gradient(#bd9106 3.6deg, #000 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background-color: #31312f;
}
.progress-bar {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  color: #bd9106;
}
.text {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
}

@media (max-width: 800px) {
  .logo {
    padding: 10px;
    font-size: 12px;
  }
  li {
    padding: 10px;
    font-size: 12px;
  }
  .hideonmobile {
    display: none;
  }
  .menubtn {
    display: block;
  }
  .intro .container {
    flex-direction: column;
  }
  .intro .container .my-pic {
    height: 300px;
    width: 300px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  .section-head {
    font-size: 20px;
  }
  .about .container {
    display: block;
  }
  .stat {
    justify-content: center;
  }
  .skills h2 {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: white;
  }
  .skills .skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #31312f;
    border-radius: 10px;
    padding: 10px;
    gap: 5pxpx;
    margin: 10px;
  }
  .circular-progress {
    position: relative;
    height: 90px;
    width: 50px;
    border-radius: 50%;
    background: conic-gradient(#bd9106 3.6deg, #000 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circular-progress:before {
    content: "";
    position: absolute;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background-color: #31312f;
  }
  .progress-bar {
    position: relative;
    font-size: 12px;
    font-weight: 200;
    color: #bd9106;
  }
  .text {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
  }
}
