* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Times New Roman;
}
body {
  min-height: 100vh;
  font-family: Segoe UI;
  background: black;
  color: white;
  line-height: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #31312f;
  padding: 10px 5px;
}
.logo {
  font-size: 30px;
  color: #bd9106;
  padding: 20px;
}
a {
  color: white;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  color: white;
  font-size: #24px;
  padding: 20px;
}
li:hover {
  background: #bd9106;
  color: white;
  border-radius: 10px 0 10px 0;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 150px;
  z-index: 999;
  background: white;
  color: blue;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menubtn {
  display: none;
}
.sidebar li {
  width: 100%;
  text-align: center;
}
.sidebar a {
  width: 100%;
  color: black;
}
.intro .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .container .my-pic {
  height: 500px;
  width: 500px;
  border-radius: 10px;
  margin: 10px;
  border: 2px solid #bd9106;
}
.introduce {
  text-align: center;
}
p {
  color: white;
  font-size: 12px;
  float: right;
  padding: 12px;
}
h3 {
  font-size: 30px;
  font-weight: 600;
  font-family: Comic Sans MS;
  color: #bd9106;
  padding: 12px;
}
h4 {
  font-size: 20px;
  font-weight: 600;
  font-family: Comic Sans MS;
  padding: 12px;
}
@media (max-width: 800px) {
  .logo {
    padding: 10px;
    font-size: 12px;
  }
  li {
    padding: 10px;
    font-size: 12px;
  }
  .hideonmobile {
    display: none;
  }
  .menubtn {
    display: block;
  }
  .intro .container {
    flex-direction: column;
  }
  .intro .container .my-pic {
    height: 300px;
    width: 300px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
}
